<!DOCTYPE html>
<html>
    <head>
        <title>Acortar URL</title>
        <meta charset="utf-8">
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
        <!--Local scripts-->
        {% load static %}
        <script src="{% static 'index.js' %}"></script>
        {% if token != "" %}
        <script>
            const token = "{{ token }}";
        </script>
        {% else %}
        <script>
            const token = null;
        </script>
        {% endif %}
    </head>
    <body class="container border px-5 py-3">
        <h1>Acortar URL</h1>
        {% if username == "" %}
        <div class="container p-2">
            <div class="row justify-content-end">
                <div class="col-md-auto">
                    <a href="/login/">Iniciar sesión</a>
                </div>
                <div class="col-md-auto">
                    <a href="/sign-up/">Registrarse</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container p-2">
            <div class="row justify-content-end">
                <div class="col-md-auto">
                    <a href="/my-urls/">Mis URLs</a>
                </div>
                <div class="col-md-auto">
                    <a href="/logout/">Cerrar sesión</a>
                </div>
            </div>
        </div>
        <p>¡Bienvenido <strong>{{ username }}</strong>!</p>
        <p>Tu token para hacer uso de la REST-API es <span class="text-info">{{ token }}</span></p>
        {% endif %}
        <div id="input-form" class="form-group">
            <label for="url">Ingrese la URL que desea recortar</label>
            <input id="url" name="url" type="text" class="form-control">
            <button id="make-short-url" type="submit" class="btn btn-primary mt-2">Recortar</button>
        </div>
        <div id="output-form" class="form-group d-none">
            <label for="long-url">URL original:</label>
            <input id="long-url" name="long-url" type="text" class="form-control" disabled>
            <label for="short-url">URL recortada</label>
            <input id="short-url" name="short-url" type="text" class="form-control" disabled>
            <button id="remake-short-url" type="submit" class="btn btn-secondary mt-2">Recortar una nueva URL</button>
        </div>
    </body>
</html>